Repository yamada-ui/yamada-ui, pull requests merged in 2024-05, with the labels that each got.

#1353 test(hooks): Enhanced coverages for `useMediaQuery`
  packages/hooks/use-media-query/tests/index.test.ts
Labels: test

#1490 Test/enhance test coverages markdown
  .changeset/metal-roses-speak.md
  packages/components/markdown/src/utils.ts
  packages/components/markdown/tests/markdown.test.tsx
  packages/components/markdown/tests/with-note-components.test.tsx
Labels: test

#1386 fix: fix tooltip behavior on mobile device
  .changeset/eighty-needles-matter.md
  packages/components/tooltip/package.json
  packages/components/tooltip/src/tooltip.tsx
  pnpm-lock.yaml
Labels: help wanted

#1538 feat(markdown): enable use of strong syntax (`**`) within note syntax
  .changeset/tough-apricots-fly.md
  packages/components/markdown/src/remark-ui-component.ts
  packages/components/markdown/tests/with-note-components.test.tsx
Labels: enhancement

#1613 fix some tests
  packages/components/checkbox/tests/checkbox.test.tsx
Labels: test

#1623 test(icon): replace `Md3dRotation` with `FaMarkdown`
  packages/components/icon/tests/icon.test.tsx
Labels: test

#1688 Update tests for `Radio`
  packages/components/radio/tests/radio-group.test.tsx
  packages/components/radio/tests/radio.test.tsx
Labels: test

#1703 Update tests for `Input`
  packages/components/input/tests/input.test.tsx
Labels: test

#1709 Update tests for `NumberInput`
  packages/components/number-input/tests/number-input.test.tsx
Labels: test
